{% extends 'BacklogBundle::layout.html.twig' %}

{% block title %}{{ 'title.project.list'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-header">{{ 'title.dashboard'|trans }}</h1>
    {% for project in projects %}
        <div class="row">
        {% include 'BacklogBundle:Dashboard:_projectPartial.html.twig' with { 'project': project } %}
        </div>
    {% endfor %}
{% endblock %}
