body { font: 18px/1.5 sans-serif; }
main {
    margin-top: 5em;
}

.project-dashboard {
    margin-top: 1em;
}
.project-dashboard .card-block {
    padding: 1em;
}
.card-header a {
    color: black;
}
