/.idea
/phpunit.xml
/vendor/
/bin/*
!/bin/fixtures.sh
/config.yml
/*.sqlite
/composer.phar
/.vagrant
/.web-server-pid
/app/config/parameters.yml
/build/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
