<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        beStrictAboutTestsThatDoNotTestAnything="true"
        bootstrap="vendor/autoload.php"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
  <php>
    <ini name="error_reporting" value="-1"/>
    <server name="KERNEL_CLASS" value="AppKernel"/>
  </php>

  <testsuites>
    <testsuite name="main">
      <directory>tests</directory>
      <directory>src/Bundle/*/Tests</directory>
    </testsuite>
  </testsuites>

  <coverage>
    <include>
      <directory>src</directory>
    </include>
    <exclude>
      <directory>src/Bundle/*/Tests</directory>
    </exclude>
  </coverage>
</phpunit>
