[custom]
display_errors=On
error_reporting=-1
memory_limit={{ php.memory_limit }}
short_open_tag=Off
date.timezone={{ php.timezone }}
always_populate_raw_post_data=-1
session.cookie_httponly=On
session.gc_maxlifetime=3600
