{% extends 'layout.html.twig' %}

{% block content %}
    <div id="sprint-{{ sprint.id }}" class="sprint">
        {% if sprint.pending %}
            {% include ':Sprint:_showPending.html.twig' with {'sprint': sprint, 'commitments': commitments } %}
        {% elseif sprint.started %}
            {% include ':Sprint:_showStarted.html.twig' with {'sprint': sprint, 'commitments': commitments } %}
        {% else %}
            {% include ':Sprint:_showClosed.html.twig' with {'sprint': sprint, 'commitments': commitments } %}
        {% endif %}
    </div>
{% endblock %}
