{% extends 'layout.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
<div id="project-{{ project.id }}" >
    <h1 class="page-header" >{{ project.name }}</h1>

    <ul id="project-sprints">
        {% for sprint in sprints %}
        <li class="sprint">
            {{ sprint.name }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
