{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="page-header">Dashboard</h1>
    {% for project in projects %}
        <div class="row">
        {% include 'Dashboard/_projectPartial.html.twig' with { 'project': project } %}
        </div>
    {% endfor %}
{% endblock %}
