{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="page-header">Dashboard</h1>
    <div class="row placeholders">
        {# form(createProjectForm) #}
    {% for project in projects %}
        {% include 'Dashboard/project_partial.html.twig' with { 'project': project } %}
    {% endfor %}
    </div>
{% endblock %}
